main{
    padding: 1rem;
}

body{
    background-color: #e7e7e7;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 31px;
    text-align: center;
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-bottom: 0.5rem;
}

article{
    padding: 1rem;
    border: 1px solid #4b4b4b;
    border-radius: 20px;
    text-align: center;
    margin: 1rem;
    overflow: auto;
    width: 95%;
    max-width: 20rem;
    height: max-content;
}

article::-webkit-scrollbar{
    width: 1px;
}

article::-webkit-scrollbar-thumb{
    display: none;
}

button{
    padding: 5px;
    margin: 5px;
    border: none;
}

button a{
    text-decoration: none;
    color: #4b4b4b
}

button a:hover{
    color: #f18769;
}

#tips_perros, #tips_gatos, #extra_tip{
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

@media screen and (min-width: 736px){
    article{
        width: 90%;
        max-width: 30rem;
        }
}
