body{
    background-color: #e7e7e7;
}

main{
    padding: 1rem;
}
#adopta_noCompres{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    justify-content: center;
}

h1{
    font-size: 30px;
    padding: 1rem;
    padding-bottom: 0;
    text-align: center;
}

h2{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    text-align: center;
    padding-bottom: 5px ;
}

#msj-bienvenida{
    font-size: 40px;
    
}

.bv_p{
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
}

#categorias{
    text-align: center;
}

#link_tips{
    font-size: 30px;
    padding: 2rem;
    padding-bottom: 0;
    color: black;
    font-weight:bold;
    text-decoration: none;
}

#link_tips a:hover{
    text-decoration: underline;
}

#cat p{
    text-align: center;
}

#cat{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#cat section, img{
    padding: 1rem;
    border: 1px solid #4b4b4b;
    border-radius: 20px;
    text-align: center;
    margin: 1rem;
    overflow: auto;
    width: 95%;
    max-width: 25rem;;
}
#cat-perros h2{
    margin-bottom: 2rem;
}

#cat-gatos h2{
    margin-bottom: 2rem;
}


img{
    border:none;
 }

#cat section::-webkit-scrollbar{
    width: 1px;
}

.texto_ANC p{
    padding: 0.5rem;
}

.texto_ANC a{
    text-decoration: none;
    color: #4b4b4b;
    font-weight: bold;
}

.texto_ANC a:hover{
    text-decoration:underline;
}

@media screen and (max-width: 834px) {
    #adopta_noCompres{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .video_ANC{
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 703px){
    #cat section{
        width: 95%;
        max-width: 20rem;
        height: max-content;
        }
}

@media screen and (min-width:704px) {
    #cat-cpg{ 
        display: block;
        width: 95%;
    }
}