main{
    padding: 1rem;
}

body{
    background-color: #e7e7e7;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 31px;
    text-align: center;
    margin-bottom: 1rem;
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 0.5rem;
    text-align: center;
    border-top: #4b4b4b 1px solid;
    border-bottom: #4b4b4b 1px solid;
}

article{
    padding: 0.7rem;
    text-align: left;
    margin: 1rem;
    overflow: auto;
    width: 95%;
    max-width: 45rem;
    max-height: fit-content;
}

button{
    padding: 5px;
    margin: 5px;
    border: none;
}

button a{
    text-decoration: none;
    color: #4b4b4b
}

button a:hover{
    color: #f18769;
}

#tips_perros, #tips_gatos, #extra_tip{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

@media screen and (max-width: 660px){
    article{
        max-height: 25rem;
    };
    h2{
        font-size: 16px;
    };
    ul li{
        font-size: 12px;
    }        
}
